*.l*
*.h*
*.x*
*.p*
*.n*
*.b*
*.t*
*.s*
*log*
*.d*
*.csv
*.unroutes
*.gise
*.ut
*.m*
computer_experiment/ipcore_dir/
computer_experiment/xst/
computer_experiment/planAhead_run_1/
computer_experiment/_ngo/
